<%- @kids.each do |kid| %>

    <li class="<%= @hidden ? 'hidden' : '' %>">
      <!-- card -->
      <div class="popup__open card <%= kid.get_class_kid %>" data-popup="card" data-url="<%= kid_path(id: kid.id, notsharable: @notsharable) %>" data-id="<%= kid.id %>">

        <!-- card__pic -->
        <div class="card__pic">
          <img src="<%= kid.try(:thumb) %>" alt="">

          <!-- card__time -->
          <div class="card__time"><%= kid.get_video_duration %></div>
          <!-- /card__time -->
          
        </div>
        <!-- /card__pic -->

        <!-- card__name -->
        <div class="card__name"><%= kid.name %>, <span><%= "#{kid.age} #{t('custom.year', count: kid.age)}" %></span></div>
        <!-- /card__name -->

        <!-- card__place -->
        <div class="card__place"><%= kid.address %></div>
        <!-- /card__place -->

      </div>
      <!-- /card -->

    </li>

<% end %>