 <!-- kid__video -->
  <div class="kid__video">

    <video controls>
      <source src=" <%= @kid.status =='delivered' ? @kid.feedback_video.try(:url, 'mp4') : @kid.video.try(:url, 'mp4') %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>


    <!-- kid__share -->
    <div class="kid__share" data-kid="<%= "{ \"name\": \"#{ @kid.name }\", \"photo\": \"#{@kid.try(:thumb) }\"  }" %>">
      <ul>
        <li><a href="#" target="_blank" class="share_t"></a></li>
        <li><a href="#" target="_blank" class="share_f"></a></li>
      </ul>
    </div>
    <!-- /kid__share -->


  </div>
  <!-- /kid__video -->

  <!-- kid__info -->
  <div class="kid__info">
    <div class="card__name"><%= @kid.name %>, <span><%= "#{@kid.age} #{t('custom.year', count: @kid.age)}" %></span></div>
  </div>
  <!-- /kid__info -->
  <!-- kid__info -->
  <div class="kid__info">
    <div class="card__place"><%= @kid.address %></div>
  </div>
  <!-- /kid__info -->

  <!-- kid__description -->
  <div class="kid__description"><%= @kid.description %></div>
  <!-- /kid__description -->

  <!-- kid__buttons -->
  <div class="kid__buttons">
    <%- if current_user %>
      <%= render 'kids/kids_buttons', :@kid => @kid %>
    <% end %>
  </div>
  <!-- /kid__buttons -->

</div>