 <!-- kid__video -->
  <div class="kid__video">

    <video controls>
      <source src=" <%= @kid.actual_video_url %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>

  </div>
  <!-- /kid__video -->

  <!-- kid__info -->
  <div class="kid__info">
    <div class="card__name"><%= @kid.name %>, <span><%= "#{@kid.age} #{t('custom.year', count: @kid.age)}" %></span></div>
  </div>
  <!-- /kid__info -->
  <!-- kid__info -->
  <div class="kid__info">
    <div class="card__place"><%= @kid.address %></div>
  </div>
  <!-- /kid__info -->

  <!-- kid__description -->
  <div class="kid__description"><%= @kid.description %></div>
  <!-- /kid__description -->

  <!-- kid__buttons -->
  <div class="kid__buttons">
    <%- if current_user %>
      <%= render 'kids/kids_buttons', :@kid => @kid %>
    <% else %>
        <%= link_to "ВОЙТИ", user_omniauth_authorize_path(provider: :facebook), class: 'kid__ok' %>
    <% end %>
  </div>
  <!-- /kid__buttons -->

 <!-- kid__share -->
 <div class="kid__share" data-kid="<%= "{ \"name\": \"#{ @kid.name }\", \"photo\": \"#{@kid.try(:thumb) }\", \"tweet\": \"#{@kid.tweet_image_url}\"  }" %>">

   <!--<a href="#" target="_blank" class="share_vk"></a>-->
   <a href="#" target="_blank" class="share_f"></a>
   <a href="#" target="_blank" class="share_t"></a>

 </div>
 <!-- /kid__share -->

</div>