 <!-- kid__video -->
  <div class="kid__video">

    <video controls>
      <source src=" <%= @kid.actual_video_url %>" type="video/mp4">
      Your browser does not support the video tag.
    </video>

  </div>
  <!-- /kid__video -->

  <!-- kid__info -->
  <div class="kid__info">
    <div class="card__name"><%= @kid.name %>, <span><%= "#{@kid.age} #{t('custom.year', count: @kid.age)}" %></span></div>
  </div>
  <!-- /kid__info -->
  <!-- kid__info -->
  <div class="kid__info">
    <div class="card__place"><%= @kid.address %></div>
  </div>
  <!-- /kid__info -->

  <!-- kid__description -->
  <div class="kid__description"><%= @kid.description %></div>
  <!-- /kid__description -->

  <!-- kid__buttons -->
  <div class="kid__buttons">
    <%- if current_user %>
      <%= render 'kids/kids_buttons', :@kid => @kid %>
    <% end %>
  </div>
  <!-- /kid__buttons -->

 <!-- kid__share -->
 <div class="kid__social">
   <%= social_share_button_tag(@kid.name, url: @url, image: @kid.actual_thumb_url, desc: @kid.description, via: "MyTwitterName") %>
 </div>
 <!-- /kid__share -->

</div>