<!-- site -->
<div class="site site_inner">
  <%= render 'layouts/header' %>

  <!-- site__content -->
  <div class="site__content">

    <!-- cards -->
    <div class="cards">

      <h2>добро пожаловать в личный кабинет</h2>

      <!-- cards__filter -->
      <div class="cards__filter">
        <a href="<%= personal_page_kids_path %>" class="active">Все</a>
        <a href="<%= personal_page_kids_path(f: 1) %>">Добавлены в список</a>
        <a href="<%= personal_page_kids_path(f: 2) %>">Ожидают получения</a>
        <a href="<%= personal_page_kids_path(f: 3) %>">Получили</a>
      </div>
      <!-- /cards__filter -->

      <ul>
        <%= render 'kids/kids', :@kids => @kids %>
      </ul>

      <!-- cards__more -->
      <form class="cards__more" action="<%= personal_page_kids_path %>">
        <!-- btn -->
        <button class="btn">
          Показать еще
        </button>
        <!-- /btn -->
      </form>
      <!-- /cards__more -->

    </div>
    <!-- /cards -->

    <%= render 'layouts/footer' %>

  </div>
  <!-- /site__content -->

</div>
<!-- /site -->

<!-- preloader -->
<div class="preloader">
  <div></div>
  <img src="/assets/logo_big.png" alt="Preloader" width="120" height="71"/>
</div>
<!-- /preloader -->
