<!-- site -->
<div class="site site_inner">
  <%= render 'layouts/header' %>

  <!-- site__content -->
  <div class="site__content">

    <!-- cards -->
    <div class="cards">

      <h2>добро пожаловать в личный кабинет</h2>

      <!-- cards__filter -->
      <div class="cards__filter">
        <a href="<%= personal_page_kids_path %>" class="<%= params[:f].nil? ? 'active' : '' %>">Все <%= (["(#{@kids.unscoped.size})"] - ["(0)"]).join('') %></a>
        <a href="<%= personal_page_kids_path(f: 1) %>" class="<%= params[:f]=='1' ? 'active' : ''%>">Добавлены в список <%= (["(#{@kids.unscoped.by_status(1).size})"] - ["(0)"]).join('') %> </a>
        <a href="<%= personal_page_kids_path(f: 2) %>" class="<%= params[:f]=='2' ? 'active' : ''%>">Ожидают получения <%= (["(#{@kids.unscoped.by_status(2).size})"] - ["(0)"]).join('') %></a>
        <a href="<%= personal_page_kids_path(f: 3) %>" class="<%= params[:f]=='3' ? 'active' : ''%>">Получили <%= (["(#{@kids.unscoped.by_status(3).size})"] - ["(0)"]).join('') %></a>
      </div>
      <!-- /cards__filter -->

      <ul>
        <%= render 'kids/kids', :@kids => @kids, :@notsharable => true %>
      </ul>

      <!-- cards__more -->
      <form class="cards__more" action="<%= personal_page_kids_path %>">
      <%- if @kids.total_count > 6 %>
        <!-- btn -->
        <button class="btn">
          Показать еще
        </button>
        <!-- /btn -->
      <% end %>
      </form>
      <!-- /cards__more -->

    </div>
    <!-- /cards -->

    <%= render 'layouts/footer' %>

  </div>
  <!-- /site__content -->

</div>
<!-- /site -->

<!-- preloader -->
<div class="preloader">
  <div></div>
  <img src="/assets/logo_big.png" alt="Preloader" width="120" height="71"/>
</div>
<!-- /preloader -->
<%= render 'kids/popup' %>